USE [master]
GO
/****** Object:  Database [BloodTestManagement]    Script Date: 4/21/2026 2:06:53 PM ******/
CREATE DATABASE [BloodTestManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BloodTestManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BloodTestManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BloodTestManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BloodTestManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BloodTestManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BloodTestManagement]
GO
/****** Object:  Table [dbo].[AppointmentRequests]    Script Date: 4/21/2026 2:06:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[RespondedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 4/21/2026 2:06:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[AssignedDoctorId] [int] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodTestResults]    Script Date: 4/21/2026 2:06:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodTestResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NULL,
	[DoctorId] [int] NULL,
	[ResultText] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/21/2026 2:06:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[FullName] [nvarchar](100) NULL,
	[DOB] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diseases]    Script Date: 4/21/2026 2:06:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diseases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 4/21/2026 2:06:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[FullName] [nvarchar](100) NULL,
	[Specialty] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultDiseases]    Script Date: 4/21/2026 2:06:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultDiseases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResultId] [int] NULL,
	[DiseaseId] [int] NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/21/2026 2:06:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppointmentRequests] ON 

INSERT [dbo].[AppointmentRequests] ([Id], [AppointmentId], [DoctorId], [Status], [RespondedAt]) VALUES (1, 1, 1, N'PENDING', NULL)
INSERT [dbo].[AppointmentRequests] ([Id], [AppointmentId], [DoctorId], [Status], [RespondedAt]) VALUES (2, 1, 2, N'PENDING', NULL)
INSERT [dbo].[AppointmentRequests] ([Id], [AppointmentId], [DoctorId], [Status], [RespondedAt]) VALUES (3, 1, 3, N'PENDING', NULL)
SET IDENTITY_INSERT [dbo].[AppointmentRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([Id], [CustomerId], [AppointmentDate], [Status], [AssignedDoctorId], [Note], [CreatedAt]) VALUES (1, 1, CAST(N'2026-04-22T09:00:00.000' AS DateTime), N'PENDING', NULL, NULL, CAST(N'2026-04-21T13:48:06.150' AS DateTime))
INSERT [dbo].[Appointments] ([Id], [CustomerId], [AppointmentDate], [Status], [AssignedDoctorId], [Note], [CreatedAt]) VALUES (2, 2, CAST(N'2026-04-22T10:00:00.000' AS DateTime), N'PENDING', NULL, NULL, CAST(N'2026-04-21T13:48:06.150' AS DateTime))
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[BloodTestResults] ON 

INSERT [dbo].[BloodTestResults] ([Id], [AppointmentId], [DoctorId], [ResultText], [CreatedAt]) VALUES (1, 1, 2, N'Kết quả cho thấy thiếu máu nhẹ, có dấu hiệu nhiễm trùng. Cần theo dõi thêm.', CAST(N'2026-04-21T13:48:06.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[BloodTestResults] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [UserId], [FullName], [DOB], [Gender], [Phone], [Address]) VALUES (1, 5, N'Phạm Minh D', CAST(N'2000-05-10' AS Date), N'Male', N'0901234567', N'TP.HCM')
INSERT [dbo].[Customers] ([Id], [UserId], [FullName], [DOB], [Gender], [Phone], [Address]) VALUES (2, 6, N'Hoàng Thị E', CAST(N'1998-08-20' AS Date), N'Female', N'0912345678', N'Hà Nội')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Diseases] ON 

INSERT [dbo].[Diseases] ([Id], [Name], [Description]) VALUES (1, N'Thiếu máu', N'Giảm hemoglobin trong máu')
INSERT [dbo].[Diseases] ([Id], [Name], [Description]) VALUES (2, N'Nhiễm trùng', N'Tăng bạch cầu do vi khuẩn hoặc virus')
INSERT [dbo].[Diseases] ([Id], [Name], [Description]) VALUES (3, N'Tiểu đường', N'Đường huyết cao')
SET IDENTITY_INSERT [dbo].[Diseases] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([Id], [UserId], [FullName], [Specialty]) VALUES (1, 2, N'Nguyễn Văn A', N'Huyết học')
INSERT [dbo].[Doctors] ([Id], [UserId], [FullName], [Specialty]) VALUES (2, 3, N'Trần Thị B', N'Nội tổng quát')
INSERT [dbo].[Doctors] ([Id], [UserId], [FullName], [Specialty]) VALUES (3, 4, N'Lê Văn C', N'Xét nghiệm')
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[ResultDiseases] ON 

INSERT [dbo].[ResultDiseases] ([Id], [ResultId], [DiseaseId], [Note]) VALUES (1, 1, 1, NULL)
INSERT [dbo].[ResultDiseases] ([Id], [ResultId], [DiseaseId], [Note]) VALUES (2, 1, 2, NULL)
SET IDENTITY_INSERT [dbo].[ResultDiseases] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Role], [CreatedAt]) VALUES (1, N'admin1', N'hash_admin', N'ADMIN', CAST(N'2026-04-21T13:48:06.150' AS DateTime))
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Role], [CreatedAt]) VALUES (2, N'doctor1', N'hash_doc1', N'DOCTOR', CAST(N'2026-04-21T13:48:06.150' AS DateTime))
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Role], [CreatedAt]) VALUES (3, N'doctor2', N'hash_doc2', N'DOCTOR', CAST(N'2026-04-21T13:48:06.150' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_Appointment_Doctor]    Script Date: 4/21/2026 2:06:53 PM ******/
ALTER TABLE [dbo].[AppointmentRequests] ADD  CONSTRAINT [UQ_Appointment_Doctor] UNIQUE NONCLUSTERED 
(
	[AppointmentId] ASC,
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__BloodTes__8ECDFCC3DC850EBC]    Script Date: 4/21/2026 2:06:53 PM ******/
ALTER TABLE [dbo].[BloodTestResults] ADD UNIQUE NONCLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Customer__1788CC4DAF19A6C6]    Script Date: 4/21/2026 2:06:53 PM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Doctors__1788CC4D0742AEBD]    Script Date: 4/21/2026 2:06:53 PM ******/
ALTER TABLE [dbo].[Doctors] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Result_Disease]    Script Date: 4/21/2026 2:06:53 PM ******/
ALTER TABLE [dbo].[ResultDiseases] ADD  CONSTRAINT [UQ_Result_Disease] UNIQUE NONCLUSTERED 
(
	[ResultId] ASC,
	[DiseaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E486A0750B]    Script Date: 4/21/2026 2:06:53 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BloodTestResults] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AppointmentRequests]  WITH CHECK ADD FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[AppointmentRequests]  WITH CHECK ADD FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([AssignedDoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[BloodTestResults]  WITH CHECK ADD FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[BloodTestResults]  WITH CHECK ADD FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ResultDiseases]  WITH CHECK ADD FOREIGN KEY([DiseaseId])
REFERENCES [dbo].[Diseases] ([Id])
GO
ALTER TABLE [dbo].[ResultDiseases]  WITH CHECK ADD FOREIGN KEY([ResultId])
REFERENCES [dbo].[BloodTestResults] ([Id])
GO
ALTER TABLE [dbo].[AppointmentRequests]  WITH CHECK ADD CHECK  (([Status]='REJECTED' OR [Status]='ACCEPTED' OR [Status]='PENDING'))
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD CHECK  (([Status]='DONE' OR [Status]='REJECTED' OR [Status]='ASSIGNED' OR [Status]='PENDING'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='CUSTOMER' OR [Role]='DOCTOR' OR [Role]='ADMIN'))
GO
USE [master]
GO
